In [6]:
lista_lanches = {"X-Bacon vegano": 1, "X-Bacon tradicional" : 2, "X-Eggs-duplo": 3, "X-Milho":4}
print(lista_lanches)

{'X-Bacon vegano': 1, 'X-Bacon tradicional': 2, 'X-Eggs-duplo': 3, 'X-Milho': 4}

In [8]:
lista_lanchesL = [lista_lanches]

In [9]:
lista_lanchesL

[{'X-Bacon vegano': 1,
  'X-Bacon tradicional': 2,
  'X-Eggs-duplo': 3,
  'X-Milho': 4}]

In [12]:
lista_lanchesL[0]
print(lista_lanchesL)

[{'X-Bacon vegano': 1, 'X-Bacon tradicional': 2, 'X-Eggs-duplo': 3, 'X-Milho': 4}]

In [14]:
len(lista_lanches)

4

In [1]:
x = 1/2
x

0.5

In [3]:
 x = 'Data Science Academy'
 x[2:]

'ta Science Academy'

In [53]:
nomeCli = input('Your name: ')
idCli = input('Password: ')
idade =  input('Your age:')

if  idade  <='17' or idCli =='0':

    print('Não foi possivel o cadastro, por favor tente novamente')
    
else:
    print('Cadastro criado com sucesso %r com ID: %s, Sua idade é %s' %(nomeCli, idCli, idade))

Your name: Angelo Antonio Afonso Lopes
Password: 4256
Your age:36
Cadastro criado com sucesso 'Angelo Antonio Afonso Lopes' com ID: 4256, Sua idade é 36

In [55]:
 mercado = ['arroz','feijão','ovos','batata','verdurs','sabão em pó']

In [58]:
for i in mercado:
    print(mercado)

['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']
['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']
['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']
['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']
['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']
['arroz', 'feijão', 'ovos', 'batata', 'verdurs', 'sabão em pó']

In [59]:
x = mercado [0]
x

'arroz'

In [61]:
y = mercado[3]
y

'batata'

In [63]:
for caracter in 'Eu serei um ciêntista de dados?':
    print(caracter)

E
u

s
e
r
e
i

u
m

c
i
ê
n
t
i
s
t
a

d
e

d
a
d
o
s
?

In [64]:
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [20]:
produto = {'Bucha suspensão': 89, 'kit pivos':199, 'Borrachas parabrisa':250}
soma = 0
for i in produto: 
    soma += 1
    print(i.upper()) 
    print(produto.values())
    print(soma)

BUCHA SUSPENSÃO
dict_values([89, 199, 250])
1
KIT PIVOS
dict_values([89, 199, 250])
2
BORRACHAS PARABRISA
dict_values([89, 199, 250])
3

In [27]:
lst = [[1,2,3,4],[5,6,7,8],[9,10],[11,12,13]]
count = 0
for col in l1:
    count = count +1
    print('A Lista %s boa noite '%(lst))
    print ('Numero de colunas %r '%(count))

A Lista [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10], [11, 12, 13]] boa noite
Numero de colunas 1
A Lista [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10], [11, 12, 13]] boa noite
Numero de colunas 2
A Lista [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10], [11, 12, 13]] boa noite
Numero de colunas 3
A Lista [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10], [11, 12, 13]] boa noite
Numero de colunas 4

In [29]:
listac = {5,6,7,8,9,10,'Opala 80'}
for item in listac:
    if item ==5:
        print('Numero encontrado na lista!')

Numero encontrado na lista!

In [30]:
dict = {'k1': 'Python','k2':'R','k3': 'Scala'}
for item in dict.items():
    print(item)

('k1', 'Python')
('k2', 'R')
('k3', 'Scala')

In [31]:
for k,v in dict.items():
    print(k,v)

k1 Python
k2 R
k3 Scala

In [33]:
counter = 0
while counter <= 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
x = 0

while x <10:
    print('O valor de x nesta iteração é:', x)
    print(' x ainda é menor que 10, somando 1 a x ')
    x += 1
else:
    print('Loop concluido ')

O valor de x nesta iteração é: 0
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 1
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 2
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 3
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 4
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 5
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 6
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 7
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 8
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é: 9
 x ainda é menor que 10, somando 1 a x
Loop concluido

In [50]:
cou = 0 
while cou < 100:
    if cou == 4:
        break
    else:
        pass
    print(cou)
    cou = cou + 1

0
1
2
3

In [52]:
for veri in "Python":# pular letra h
    if veri == "h": 
        continue
    print(veri)

P
y
t
o
n

In [58]:
for i in range(2,30): # While e for juntos
    j = 2
    count = 0
    while j < i:
        if i %j == 0:
            count = 1
        j = j + 1
        
    if  count == 0: 
        print(str(i) + 'é um numero primo')
        count = 0
    else:
        count = 0

2é um numero primo
3é um numero primo
5é um numero primo
7é um numero primo
11é um numero primo
13é um numero primo
17é um numero primo
19é um numero primo
23é um numero primo
29é um numero primo

In [59]:
for i in range(0,50,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [60]:
for i in range (3,6):
    print(i)

3
4
5

In [61]:
for i in range(0, -20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [68]:
lista  =['morango', 'banana', 'abacaxi', 'uva']
lt = len(lista)
for i in range (0, lt):
    print(lista[i])

morango
banana
abacaxi
uva

In [69]:
type(range(0,3))

range

In [19]:
caixa_baixa = "Este texto devera estar em LoWerCase, Vamos Ver... vai que COLA"

In [20]:
def lowercase(text):
    return text.lower()

In [21]:
lowercased_string = lowercase(caixa_baixa)

In [24]:
lowercased_string

'este texto devera estar em lowercase, vamos ver... vai que cola'

In [25]:
# Split dos dados
def split_string(text):
    return text.split(" ")

In [26]:
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [27]:
print(split_string(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [28]:
token = split_string(texto)
print(token)

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [29]:
token

['Esta',
 'função',
 'será',
 'bastante',
 'útil',
 'para',
 'separar',
 'grandes',
 'volumes',
 'de',
 'dados.']

In [31]:
def printVarinfo(arg1, *vartuple ): # '*' significa que posso passar quantos parâmetros eu quiser
    #Imprimindo o valor do primeiro argumento
    print("O parâmetro passado foi: ",arg1)
    #Imprimindo o valor do segundo argumento
    for item in vartuple:
        print("O parâmetro passado foi:" , item)
    return;

In [32]:
printVarinfo(10)

O parâmetro passado foi:  10

In [35]:
printVarinfo( 'Opala','Dodge','Chevette','Mustang')

O parâmetro passado foi:  Opala
O parâmetro passado foi: Dodge
O parâmetro passado foi: Chevette
O parâmetro passado foi: Mustang

In [18]:
listOp = {'Soma': 1, 'Subtração': 2, 'Multiplicação':3, 'Divisão':4}

In [120]:

soma = lambda n1,n2:n1 + n2
div = lambda n1,n2:n1 / n2
minn = lambda n1,n2:n1 - n2
mul = lambda n1,n2:n1 * n2
op_escolha = input("Operação matemática:(1-Adição/2-Subtração/3-Divisão/4-Multiplicação))")

n1 = int(input("Primeiro número"))
n2 = int(input("segundo número"))
if op_escolha == '1':
    print("Resultado: ",int(soma(n1,n2)))
elif op_escolha == '2':
    print("Resultado: ",int(minn(n1,n2)))
elif op_escolha == '3':
    print("Resultado ",int(div(n1,n2)))
elif op_escolha == '4':
    print("Resultado: ",int(mul(n1,n2)))
else:
    print('Escolha não disponivel')

Operação matemática:(1-Adição/2-Subtração/3-Divisão/4-Multiplicação))2
Primeiro número10
segundo número2
Resultado:  8

In [121]:
soma(25,36)

61

In [122]:
div(800,6)

133.33333333333334

In [123]:
minn(500,300)

200

In [124]:
mul(200,3)

600